p {
    color: orange;
    width: 500px;
    text-align: justify;
    font: 30px/25px Arial;
    text-indent: 40px;
}

h1 {
    text-align: center;
    color: green;
    font-family: Arial;
    font-size: 50px;
}

h2 {
    color: skyblue;
    font-family: Arial;
    font-size: 40px;
    font-style: italic;
    text-decoration: underline;
}

h3 {
    color: red;
    font-family: Arial;
}

td {
    text-align: center;
    font-family: Arial;
    font-style: Bold;
}

th {
    font-family: Arial;
}
