p{
    color: orange;
    width: 500px;
    text-align: justify;
    font-size: 16px;
    line-height: 25px;
    font-family: Arial;
    text-indent: 40px;
}

h1 {
    text-align: right;
    color: green;
}

h2 {
    width: 300px;
    text-align: center;
    color: skyblue;
}

td {
    width: 500px;
}

th {
    text-align: left;
}

td {
    text-align: center;
}

p {
    width: 300px;
    text-align: justify;
}

h3 {
    color: red;
}